*{
    margin:0;
    padding:0;
    
}
a{text-decoration:none;}
.wrapper{
    width:320px;
    height:480px;
    margin:120px auto;
    border:1px solid #000;
    overflow: hidden;
    position: relative;
}
.wrapper #go{
    width:100%;
    position: absolute;
    top:0;
    text-align:center;
    /* 点击的时候层级跑到最上面 */
    /*加一个层级，避免绑定时间出问题*/
    z-index:99;
}
.wrapper #go a{
    font-size:40px;
    color:cyan;
}

/* main区域和wrapper重合 */
.wrapper #main{
    width:100%;
    height:100%;
    /* border:1px solid red; */
    position:relative;    
    /* top:-120px; */
}
/* 动态创建行列的样式 */
.row{
    width:100%;
    height:120px;
}
.row div{
    /* 横着排的 */
    float:left;
    width:79px;
    border-left:1px solid #000;
    height:119px;
    border-bottom:1px solid #000;
}